body {
    padding-top: 70px;
}

header {
  /*position: fixed;
  top: 0px;
  width: 100%;*/
}



main {
    
}

footer {
  /*position: fixed;
  bottom: 0px;
  width: 100%;*/
  text-align: center;

}

.navbar-brand {
  padding: 6px;
}

.dialog_window {
  display: none;
}
