<nav layout="column">
  <md-content>
    <md-list>
      <md-list-item ng-click="sales()">
        <i class="fa fa-usd"></i>
        <div class="md-list-item-text">
          <p>Sales</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="inventory()">
        <i class="fa fa-barcode"></i>
        <div class="md-list-item-text">
          <p>Inventory</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="customers()">
        <i class="fa fa-users"></i>
        <div class="md-list-item-text">
          <p>Customers</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="vendors()">
        <i class="fa fa-briefcase"></i>
        <div class="md-list-item-text">
          <p>Vendors</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="setup()">
        <i class="fa fa-cog"></i>
        <div class="md-list-item-text">
          <p>Setup</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</nav>