<md-bottom-sheet>
  <md-tabs md-align-tabs="top">
    <md-tab>
      <md-tab-label>Address</md-tab-label>
      <md-tab-body layout="row" flex="100">
        <md-content layout-padding layout="column" flex="50">
          <md-input-container>
            <lable>First Name</lable>
            <input type="text" ng-model="selectedCust.firstname">
          </md-input-container>
          <md-input-container>
            <lable>Last Name</lable>
            <input type="text" ng-model="selectedCust.lastname">
          </md-input-container>
          <md-input-container>
            <lable>Company</lable>
            <input type="text" ng-model="selectedCust.companyname">
          </md-input-container>
          <md-input-container>
            <lable>Address</lable>
            <input type="text" ng-model="selectedCust.addr1">
          </md-input-container>
          <md-input-container>
            <input type="text" ng-model="selectedCust.addr2">
          </md-input-container>
          <md-input-container>
            <lable>City</lable>
            <input type="text" ng-model="selectedCust.city">
          </md-input-container>
          <md-input-container>
            <lable>Contact</lable>
            <input type="text" ng-model="selectedCust.contact">
          </md-input-container>
        </md-content>
        <md-content layout="column" flex="50">
          <md-input-container>
            <lable>Main Store</lable>
            <input type="text" ng-model="selectedCust.TabsId">
          </md-input-container>
          <md-input-container>
            <lable>Phone</lable>
            <input type="text" ng-model="selectedCust.phone">
          </md-input-container>
        </md-content>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>Sales</md-tab-label>
      <md-tab-body>
        asdf
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-bottom-sheet>